.header {
    max-width: 2000px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: #fee6d7; */
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    margin-right: auto;
}

.header-left-menu>ul {
    font-size: 0.8rem;
}

.header-left {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.header-left-menu {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.navLink {
    padding: 10px;
}

.header-right {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}