.team {
    padding-top: 5%;
    padding-left: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 2000px;
    padding-right: 80px;
    display: flex;
}

.team-left {
    display: flex;
    flex-direction: column;
    flex: 0.5;
}

.team-center {
    flex: 0.1;
}

.team-right {
    align-self: self-end;
    flex: 0.4;
}