.token {
    display: flex;
    max-width: 2000px;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #F0484B;
    justify-content: space-between;
}

.token-bottom {
    display: flex;
    justify-content: center;
    max-width: 2000px;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 900px) {
    .token {
        flex-direction: column !important;
    }

    .token-leftHeader {
        font-size: 50px !important;
        line-height: 45px !important;
    }

    .token-right>img {
        height: 50vw !important;
    }

    .token-leftExcerpt {
        margin-top: 10px !important;
        font-size: 16px !important;
    }

    .token-left {
        margin-top: 20px !important;
    }

    .countdown {
        padding: 10px 20px !important
    }

    .token-h2 {
        font-size: 32px !important;
    }

    .border-lr {
        padding-left: 20px !important;
        padding-right: 20px !important;
        border-left: none !important;
        border-right: none !important;
    }

    .cdn-stg {
        flex-wrap: wrap !important;
    }

    .token-ticker {
        flex-direction: column !important;
    }

    .token-box {
        width: 75% !important;
    }

    .btn-tkn {
        width: 75% !important;
    }
}

.token-left {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    margin-top: auto;
    margin-bottom: auto;
}

.token-leftExcerpt {
    margin-top: 30px;
    color: white;
    font-size: 20px;
}

.token-leftHeader {
    color: white;
    font-size: 120px;
    line-height: 100px;
    font-weight: bold;
}

.token-right {
    flex: 0.5;
}

.token-right>img {
    margin-left: auto;
}

.btnTkn {
    border: 1px solid #5D2E28;
    background-color: #5D2E28;
    color: white;
    padding: 15px;
}

.btnTkn:hover {
    border: 1px solid #5D2E28;
    background-color: #f0484b00;
    color: #5D2E28;
    padding: 15px;
}

.btn1Tkn {
    width: 280px;
    font-size: 12px;
}

.token-cdn {
    background-repeat: no-repeat;
    padding-left: 3vw;
    padding-right: 3vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../assets/icons/contactimg.svg');
    background-size: cover;
    /* margin-top: -100px; */
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 2000px;
    padding-bottom: 10px;
}

.token-cdn2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 2000px;
    padding-left: 3vw;
    padding-right: 3vw;
    width: 100%;
}

.token-h2 {
    font-size: 47px;
    color: #63342E;
    font-weight: bold;
}

.countdown {
    margin-top: 20px;
    background-color: #ffffff75;
    padding: 25px 100px;
    border-radius: 10px;
    font-size: 100px;
}

.flip-countdown {
    margin-top: -55px !important;
}

.cdn-btns {
    padding: 20px 20px;
}

.cdn-stg {
    margin-top: 20px;
    padding: 20px 0px;
    border-top: 2px solid #EBB999;
    border-bottom: 2px solid #EBB999;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cdn-name {
    background-color: #5D2E28;
}

.cdn-stgs {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.cdn-name {
    font-size: 12px;
    background-color: #5D2E28;
    width: fit-content;
    padding: 2px 5px;
    color: white;
    border-radius: 2px;
}

.cdn-name1 {
    margin-top: 5px;
    color: #5D2E28;
    font-weight: 500;
    font-size: 20px;
}

.cdn-name2 {
    margin-top: 5px;
    color: #F0484B;
    font-size: 20px;
}

.border-lr {
    padding-left: 150px;
    padding-right: 150px;
    border-left: 2px solid #EBB999;
    border-right: 2px solid #EBB999;
}

.token-ticker {
    margin-top: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
}

.ticker-1 {
    color: #5D2E28;
}

.ticker-2 {
    color: #5D2E28;
    font-size: 24px;
    font-weight: 600;
}

.ticker-col {
    display: flex;
    flex-direction: column;
}

.token-pcpt {
    background-color: #5D2E28;
    padding-top: 70px;
    text-align: center;
}

.token-pcptxt {
    color: white;
    font-weight: 600;
    font-size: 32px;
}

.token-box {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.178);
    display: flex;
    flex-direction: column;
}