.charity {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    padding-left: 80px;
    max-width: 2000px;
}

.charityLeft {

    display: flex;
    flex-direction: column;
    flex: 0.45;
    margin-top: auto;
    margin-bottom: auto;
}

.charityCenter {
    flex: 0.1;
}

.charityRight {
    flex: 0.45;
}

.charityRight>img {
    margin-top: -100px;
    z-index: 1;
}

.charity-ftr {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 2000px;
    background: #5D2E28;
    padding: 80px;
    color: white;
}